@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-left {
    transition-property: left;
    transition-duration: 400ms;
    transition-timing-function: ease-in;
}

ul {
  display: flex;
}

.page-item {
  border: 1px solid black;
  padding: 1vmax 1.5vmax;
  cursor: pointer;
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  transition: all;
  color: rgb(80, 80, 80);
}

.pageItemActive {
  background-color: tomato;
}
.pageLinkActive {
  color: white;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Loader */
.loader {
  width:50px;
  height:50px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#0e0068);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}